.box-input{
    width: 260px;
    position: relative;
}
.icon-input{
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: var(--icon-medium);
}
.icon-input:hover{
    color: var(--blue-300);
}
.base-input{
    width: 100%;
    background-color: #2D303E;
    border-radius: var(--border-radius);
    color:#fff;
    height: var(--height-large);
    padding: 0 30px 0 16px;
    outline: none;
    border: none;
}